admin:
  http:
    host-port: {{ jaeger_agent_admin_http_host_port }}
http-server:
  host-port: {{ jaeger_agent_http_server_host_port }}
processor:
  {{ jaeger_agent_processor | to_nice_yaml(indent=2) | indent(2, False) }}
reporter:
  {{ jaeger_agent_reporter | to_nice_yaml(indent=2) | indent(2, False) }}
