{{ ansible_managed | comment }}
[Unit]
Description=jaeger-collector
After=network-online.target
StartLimitInterval=0
StartLimitIntervalSec=0

[Service]
Type=simple
PIDFile=/var/run/jaeger-collector.pid
User={{ jaeger_system_user }}
Group={{ jaeger_system_group }}
PermissionsStartOnly=true
Environment="SPAN_STORAGE_TYPE={{ jaeger_collector_span_storage_type }}"
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/jaeger-collector --config-file /etc/jaeger-collector.yml

SyslogIdentifier=jaeger-collector
KillMode=process
Restart=always
RestartSec=5

LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateTmp=true
ProtectHome=true
RemoveIPC=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
